$black: #0f0f0f;

$yellow: #fff700;
$yellow-25: rgba($yellow, 25%);

$primary: #0bf1ff;
$primary-50: rgba($primary, 50%);
$primary-40: rgba($primary, 40%);
$primary-30: rgba($primary, 30%);
$primary-25: rgba($primary, 25%);
$primary-10: rgba($primary, 10%);
$primary-5: rgba($primary, 5%);
$primary-2: rgba($primary, 2%);

$red: #fa4141;
$red-75: rgba($red, 75%);
$red-50: rgba($red, 50%);
$red-40: rgba($red, 40%);
$red-30: rgba($red, 30%);
$red-25: rgba($red, 25%);
$red-20: rgba($red, 20%);
$red-10: rgba($red, 10%);
$red-5: rgba($red, 5%);
$red-2: rgba($red, 2%);

$grey: #979797;
$grey-75: rgba($grey, 75%);
$grey-50: rgba($grey, 50%);
$grey-40: rgba($grey, 40%);
$grey-30: rgba($grey, 30%);
$grey-25: rgba($grey, 25%);
$grey-20: rgba($grey, 20%);
$grey-10: rgba($grey, 10%);
$grey-5: rgba($grey, 5%);
$grey-2: rgba($grey, 2%);

$purple: #9747ff;
$purple-75: rgba($purple, 75%);
$purple-50: rgba($purple, 50%);
$purple-40: rgba($purple, 40%);
$purple-30: rgba($purple, 30%);
$purple-25: rgba($purple, 25%);
$purple-20: rgba($purple, 20%);
$purple-10: rgba($purple, 10%);
$purple-5: rgba($purple, 5%);
$purple-2: rgba($purple, 2%);

$green: #3cff0b;
$green-75: rgba($green, 75%);
$green-50: rgba($green, 50%);
$green-40: rgba($green, 40%);
$green-30: rgba($green, 30%);
$green-25: rgba($green, 25%);
$green-20: rgba($green, 20%);
$green-10: rgba($green, 10%);
$green-5: rgba($green, 5%);
$green-2: rgba($green, 2%);

$orange: rgb(247, 147, 26);
$orange-75: rgba($orange, 75%);
$orange-50: rgba($orange, 50%);
$orange-40: rgba($orange, 40%);
$orange-30: rgba($orange, 30%);
$orange-25: rgba($orange, 25%);
$orange-20: rgba($orange, 20%);
$orange-10: rgba($orange, 10%);
$orange-5: rgba($orange, 5%);
$orange-2: rgba($orange, 2%);

$font-orbitron: 'Orbitron', $system-fonts;
$font-jampure: 'Bai Jampuree', $system-fonts;
